<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title> Paint By Gender </title>
<link rel="stylesheet" href="./css/paint.css">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Exo+2:200,400|Megrim" rel="stylesheet">
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<script src="./lib/jquery-3.3.1.min.js"></script>
<script src="./js/paint.js"></script>
</head>
<body>
<table id="layout">
  <tr id="header">
    <td id="title">
      <a href="#">Paint by gender</a>
    </td>
    <td id="status">
      <span id="level-number">Level 1</span>
      <span id="level-separator">|</span>
      <span id="level-name">Demo</span>
      <span id="level-icon-wrapper">
        <span id="level-icon"></span>
      </span>
    </td>
    <td id="help">
      <div id="help-icon"> ? </div>
    </td>
  </tr>
  <tr class="spacer"></tr>
  <tr id="body">
    <td id="stats" align="center">
      <canvas height=180px width=180px id="time-ring"></canvas>
      <div id="time">0:00</div>
      <div class="slider" id="percent-painted">
        <div class="slider-wrapper">
          <div class="slider-outline"></div>
          <div class="slider-fill"></div>
        </div>
        <div class="slider-label">% Painted </div>
      </div>
      <div class="slider" id="spill-warning">
        <div class="slider-wrapper">
          <div class="slider-outline"></div>
          <div class="slider-fill"></div>
          <div class="slider-mark"></div>
        </div>
        <div class="slider-label">Transgression </div>
      </div>
    </td>
    <td id="main">
      <div id="overlay-text">Ready?</div>
      <div id="canvas-texture" class="blurred"></div>
      <canvas id="game" width=500px height=500px></canvas>
      <canvas id="reticle" width=100px height=100px></canvas>
      <div id="game-background"></div>
    </td>
    <td id="tools" align="center">
      <div class="tool-wrapper" id="brush-size">
        <div class="tool-title">Brush size:</div>
        <div class="option-wrapper">
          <canvas width="40px" height="40px" class="tool-option"></canvas>
          <canvas width="40px" height="40px" class="tool-option"></canvas>
          <canvas width="40px" height="40px" class="tool-option"></canvas>
          <div class="option-selector"></div>
        </div>
      </div>
      <div class="tool-wrapper" id="brush-shape">
        <span class="tool-title">Brush shape:</span>
        <div class="option-wrapper">
          <canvas width="40px" height="40px" class="tool-option"></canvas>
          <canvas width="40px" height="40px" class="tool-option"></canvas>
          <canvas width="40px" height="40px" class="tool-option"></canvas>
          <div class="option-selector"></div>
        </div>
      </div>
      <div class="tool-wrapper" id="tool-type">
        <span class="tool-title">Tool type:</span>
        <div class="option-wrapper">
          <div class="tool-option">
            <div id="paint-brush-wrapper">
              <i class="fas fa-2x fa-paint-brush" data-fa-transform="shrink-2"></i>
            </div>
          </div>
          <div class="tool-option">
            <img id="lipstick" src='../img/lipstick.svg'></img>
          </div>
          <div class="tool-option">
            <div id="pill-wrapper"
              <i class="fas fa-2x fa-pills" data-fa-transform="shrink-2"></i>
            </div>
          </div>
          <div class="option-selector"></div>
        </div>
      </div>
    </td>
  </tr>
  <tr id="footer">
    <td/>
    <td align="center">
      <div id="eraser" class="bottom-btn">ERASE</div>
      <div id="restart" class="bottom-btn">RESTART</div>
      <div id="start" class="bottom-btn">START</div>
      <div id="retry" class="bottom-btn">RETRY</div>
    </td>
    <td/>
  </tr>
</table>
</body>
</html>
