<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title> Paint By Gender </title>
<link rel="stylesheet" href="./css/paint.css">
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="./js/paint.js"></script>
</head>
<body>
<div class="slider" id="percent-painted">
  <div class="slider-wrapper">
    <div class="slider-outline"></div>
    <div class="slider-fill"></div>
  </div>
  <div class="slider-label">% Painted </div>
</div>
<div class="slider" id="spill-warning">
  <div class="slider-wrapper">
    <div class="slider-outline"></div>
    <div class="slider-fill"></div>
    <div class="slider-mark"></div>
  </div>
  <div class="slider-label">Spill Warning </div>
</div>
<canvas id="game" width=500px height=500px></canvas>
<canvas id="reticle" width=100px height=100px></canvas>
<input type="button" value="Erase" id="eraser"/>
</body>
</html>
