body {
  background-color: #ddd;
}

#game {
  background-color: white;
  border: 3px solid #bbb;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: none;
}

#reticle {
  position: absolute;
  cursor: none;
  pointer-events: none;
  display: none;
}

#eraser {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  display: block;
  width: 100px;
  height: 30px;
}

#percent-painted {
  left: 10px;
  top: 150px;
}

#spill-warning {
  left: 110px;
  top: 150px;
}

#spill-warning .slider-outline {
  background: linear-gradient(red,yellow 45%,#0f0);
  opacity: 0.75;
}

#spill-warning .slider-fill{
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.slider {
  width: 100px;
  text-align: center;
  position: absolute;
 }

.slider-wrapper {
  position: relative;
  height: 200px;
  width: 12px;
  margin: 0 auto;
}

.slider-outline {
  width: 10px;
  height: 200px;
  border-radius: 5px;
  border: 2px solid #888;
  background-color: white;
  position: absolute;
  bottom: 0px;
}

.slider-fill {
 width: 10px;
 height: 0;
 border-radius: 0 0 3px 3px;
 position: absolute;
 bottom: 2px;
 left: 2px;
}

.slider-mark {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: absolute;
  left: 2px;
  bottom: 2px;
  background-color: rgba(50, 50, 50, 0.6);
}

.slider-label {
  font-weight: 600;
  color: #555;
  margin-top: 5px;
}
